{include  file='public/header' title='首页'/}

<link rel="stylesheet" href="__CSS_PATH__index.css">
<!-- 首页轮播图开始 -->
<div class="banner">
    <div class="banner-content">
        <div class="swiper-container" id="bigBox">
            <div class="swiper-wrapper">
                <div class="banner-item swiper-slide">
                    <div class="bannerbj bannerbj1"></div>
                </div>
                <div class="banner-item swiper-slide">
                    <div class="bannerbj bannerbj2"></div>
                </div>
                <div class="banner-item swiper-slide">
                    <div class="bannerbj bannerbj3"></div>
                </div>
                <div class="banner-item swiper-slide">
                    <div class="bannerbj bannerbj4"></div>
                </div>
            </div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
            <div class="swiper-button-next swiper-button-white"></div>
            <!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!-- 首页轮播图结束 -->
<!-- 首页中间部分开始 -->
<div class="container center">
    <div class="center-content">
        <!-- 首页购房服务开始 -->
        <div class="serve row">
            <div class="serve-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>全球华人民宿预订平台</span>
            </div>
            <div class="serve-word col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>50多个国家，200多个城市的华人欢迎您回家</span>
            </div>
        </div>
        <div class="serve-content row">
            <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="serve-item-img">
                    <img src="__IMG_PATH__Service-items/服务项目木制餐桌.jpg" alt="">
                </div>
                <div class="serve-item-name">
                    <span>预定民宿</span>
                </div>
                <div class="serve-item-line">
                    <img src="__IMG_PATH__index/serve1-1.png" alt="">
                </div>
                <div class="serve-span">
                    <span>民宿（潮宿）[2]是指利用自用住宅空闲房间，结合当地人文、自然景观、生态、环境资源及农林渔牧生产活动，为外出郊游或远行的旅客提供个性化住宿场所。除了一般常见的饭店以及旅社之外，其它可以提供旅客住宿的地方，例如民宅、休闲中心、农庄、农舍、牧场等，都可以归纳成民宿类。而民宿的产生是必然的，并不偶发于日本或台湾，世界各地都可看到类似性质的服务，</span>
                </div>
            </div>
            <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="serve-item-img">
                    <img src="__IMG_PATH__Service-items/服务项目灰色沙发.jpg" alt="">
                </div>
                <div class="serve-item-name">
                    <span>民宿风格</span>
                </div>
                <div class="serve-item-line">
                    <img src="__IMG_PATH__index/serve1-1.png" alt="">
                </div>
                <div class="serve-span">
                    <span>民宿这个名字，在世界各国会因环境与文化生活不同而略有差异，欧陆方面多是采农庄式民宿(Accommodation in the Farm)经营，让一般民宿能够舒适地享受农庄式田园生活环境，体验农庄生活；加拿大则是采假日农庄(Vacation Farm)的模式，提供一般民宿假日可以享受农庄生活；美国都多见居家式民宿(Homestay)或青年旅舍(Hostel)，</span>
                </div>
            </div>
            <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="serve-item-img">
                    <img src="__IMG_PATH__Service-items/服务项目绿色沙发.jpg" alt="">
                </div>
                <div class="serve-item-name">
                    <span>民宿价位</span>
                </div>
                <div class="serve-item-line">
                    <img src="__IMG_PATH__index/serve1-1.png" alt="">
                </div>
                <div class="serve-span">
                    <span>不刻意布置的居家住宿，价格相对饭店便宜的住宿选择；英国则惯称Bed and Breakfast(BNB)，按字面解释，意谓提供睡觉的地区以及简单早餐，索费大多每人每晚约二、三十英镑，视星级而定，当然价格会比一般旅馆便宜许多。</span>
                </div>
            </div>
            <div class="serve-item col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="serve-item-img">
                    <img src="__IMG_PATH__Service-items/服务项目白色沙发.jpg" alt="">
                </div>
                <div class="serve-item-name">
                    <span>民宿类型</span>
                </div>
                <div class="serve-item-line">
                    <img src="__IMG_PATH__index/serve1-1.png" alt="">
                </div>
                <div class="serve-span">
                    <span>民宿(Minshuku)[5]主要分为洋式民宿（Pension）和农家民宿（Stay home on farm）两类，而洋式民宿和农家民宿最大的不同在经营者身份及价位不同：1.经营者身份：洋式业者均为民间具有一技之长的白领阶级转业投资，并采取全年性专业经营，农家民宿则有1.公营、2.农民经营、3.农协（农会）经营、4.准公营及5.第三部门（公、民营单位合资）经营等五种形式，有正业专业经营，也有副业兼业经营，</span>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <!-- 首页购房服务结束 -->
        <!-- 首页公司简介开始 -->
        <div class="center-title row">
            <div class="center-title-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>引领时代，畅享逸家</span>
            </div>
            <div class="center-title-img col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="__IMG_PATH__index/title.png" alt="">
            </div>
        </div>
        <div class="center-introduce row">
            <div class="center-introduce-img col-lg-3 col-md-3  col-xs-12">
                <img class="center-introduce-img-img" src="__IMG_PATH__aboutus/aboutus2" alt="">
            </div>
            <div class="center-introduce-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="center-introduce-contents ">
                    <div class="introduce-content-top">
                        <a href="aboutus.html">
                            <div class="introduce-top-title">
                                公司简介
                            </div>
                        </a>
                        <a href="aboutus.html">
                            <div class="introduce-top-more">
                                MORE +
                            </div>
                        </a>
                        <div style="clear: both"></div>
                        <div class="introduce-content-line">
                        </div>
                    </div>

                    <div class="introduce-content-word">
                        <span>逸家——逸家民宿，一个门里充满阳光的院子，崇尚分享的地方，在这里你可以和朋友分享快乐，分享假期，分享美食（入住即可分享私房菜一份）。地理位置靠近较场尾小区停车场，出门一分钟即到海边，目前有8间房，包场可接待20人，每间房都有独立洗浴，提供WIFI，洗漱用品，生活用品。

每层楼都有约20平方的公共活动区域，一楼以书吧茶艺为主，二楼以电影电视娱乐为主，三楼大天台更可以同时容纳20人聚餐。

另有同时容纳60人用餐的特色私房菜馆，接受各种团体订餐，家庭订餐</span>
                        <div class="introduce-content-blank">
                        </div>
                        <span>逸家民宿地理位置优越，依山傍海，坐落于深圳较场尾滨海民宿小镇，离较场尾P1停车场5分钟路程，步行至海边仅需30步。 站在精致的花园内，但听竹筒流水，园内鸟鸣；居于室内，可见一隅阳光，一片竹庭，焚香品茗间，可追逐一场光影的游戏。当你还沉浸在白天光影的游戏时，科勒的卫浴用品，64支纯棉四件套，1,8的烟熏木大床，已经为你准备一场甜梦之旅。 客栈提供免费使用wifi，电视，浴巾毛巾，拖鞋，纸巾，蚊香，热水壶，吹风机，沐浴洗发露，赠送牙具，水上运动体验券。</span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <!-- 首页公司简介结束 -->
        <!-- 首页房屋知识开始 -->
        <div class="center-house row">
            <div class="center-house-word col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="center-house-content">
                    <div class="introduce-content-top">
                        <a href="news.html">
                            <div class="introduce-top-title">
                                家居美容
                            </div>
                        </a>
                        <a href="news.html">
                            <div class="introduce-top-more">
                                MORE +
                            </div>
                        </a>
                        <div style="clear: both"></div>
                        <div class="introduce-content-line">
                        </div>
                    </div>
                    <div class="center-house-docx">
                        <ul>
                            <li class="center-house-item">
                                <div class="house-item-box">
                                    <a href="news-one.html">实木指接板</a>
                                    <span>2015-01-20</span>
                                </div>
                            </li>
                            <li class="center-house-item">
                                <div class="house-item-box">
                                    <a href="news-two.html">大亚实木颗粒板</a>
                                    <span>2015-01-20</span>
                                </div>
                            </li>
                            <li class="center-house-item">
                                <div class="house-item-box">
                                    <a href="news-three.html">多层实木板</a>
                                    <span>2015-01-20</span>
                                </div>
                            </li>
                            <li class="center-house-item">
                                <div class="house-item-box">
                                    <a href="news-four.html">三聚氰氨饰面</a>
                                    <span>2015-01-20</span>
                                </div>
                            </li>
                            <li class="center-house-item">
                                <div class="house-item-box">
                                    <a href="news-five.html">实木皮饰面</a>
                                    <span>2015-01-20</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center-house-img col-lg-3 col-md-3">
                <img class="center-house-img-img" src="__IMG_PATH__index/jiaju1.jpg" alt="">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>
<!-- 首页房屋知识结束 -->


<!-- 首页中间部分结束 -->
{include file='public/footer' /}
<script src="__JS_PATH__swiper.min.js"></script>
<script src="__JS_PATH__index.js"></script>



