<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看项目</title>
    <link rel="stylesheet" href="/wehome1/public/static/css/layui.css">
    <script src="/wehome1/public/static/layui.js"></script>
</head>
<body>
<table id="demo" lay-filter="test" lay-data="{height:'full-20'}"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    const HOSTNAME='/wehome1/public/index.php';
    layui.use(['table','layer','form'] ,function(){
        let  $=layui.jquery;
        let table = layui.table;
        let layer = layui.layer;
        let form = layui.form;
        //第一个实例
        //页数(总数  每页条数)
        // 页码page  条数limit  xxx?page=1&limit=3

        table.render({
            elem:'#demo',
            url:'/wehome1/public/index.php/admin/serviceitems/query',
            cols:[[
                {field:'seid',title:'ID',width:80},
                {field:'sebanner',title:'服务图片',templet:function (d) {
                        return "<img src='"+d.sebanner+"'>"
                    }},
                {field:'setitle',title:'服务名称',edit:'text'},
                {field:'sedetails',title:'服务详情',edit:'text'},
                {field:'right',title:'操作',toolbar:'#barDemo'}
            ]],
        });
        //搜索 query?cid=1&gname=xxx&price_min=10&price_max=100&page=1&limit=2
        form.on('submit(demo1)',function (data) {
            let field=data.field;
            table.reload('demo',{
                url:HOSTNAME + '/admin/serviceitems/query',
                where:field,
                page:{
                    curr:1,
                }
            })
            return false;
        })
        //监听行工具事件
        table.on('tool(test)', function(obj){

            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url:'/wehome1/public/index.php/admin/serviceitems/delete',
                        type:'POST',
                        data:data,
                        dataType:'json',
                        success:res=> {
                            if(res.code==200){
                                layer.alert(res.msg);
                            }else {
                                layer.alert(res.msg);
                            }
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
        //监听单元格编辑
        table.on('edit(test)', function(obj){
            let value = obj.value,
                id = obj.data.id,
                field = obj.field;
            // layer.open({
            //     type:3,
            //     icon:1,
            // })
            let index=layer.load(2);
            $.ajax({
                url:HOSTNAME + '/admin/serviceitems/edit',
                type: 'POST',
                data:{id,field,value},
                dataType:'json',
                success:res=>{
                    layer.close(index);
                }
            })
            // layer.msg('[ID: '+ id.id +'] ' + field + ' 字段更改为：'+ value);
        });
    });
</script>
</body>
</html>